.players-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.black-text {
    color: black;
}

.sliding-window-pick {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.players-section-values {
    display: flex;
    flex-direction: row;
    gap: 20px;
}