.games-table-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.game-details-dialog {
    background-color: #242424;
}

.new-game-button {
    padding: 14px 20px;
    font-size: 1.3rem;
    width: fit-content;
    height: fit-content;
}

.games-table {
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .games-table {
        align-self: flex-start;
    }
}

.game-details-cell {
    padding: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.edit-game, .edit-game:hover {
    color: black;
}