.move-row-icon:hover {
    cursor: pointer;
}

.dnd-delete-button:hover {
    cursor: pointer;
    opacity: 80%;
}

.dnd-participants-list {
    width: 100%;
}

.draw-buttons {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.draw-buttons > button {
    padding: 8px;
}
