#game-form-component {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#game-form-component > label {
    background: #213769;
    border-radius: 5px;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px #203060;
}

#game-form-component > button {
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
}

#game-form {
    display: flex;
    flex-direction: column;
}


#participant-dialog {
    min-width: 300px;
    min-height: 400px;
}