#root {
    /*max-width: 1280px;*/
    /*margin: 0 auto;*/
    /*padding: 2rem;*/
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "nav main";
    grid-template-columns: 200px 1fr;

}

.commanders {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    color: #1a1a1a;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}