.commander-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
}

.commander-form > * {
    width: 100%;
    height: 30px;
}

.commander-form > button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
}

.commanders-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 768px) {
    .commanders-section {
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }

    .commanders-controls {
        align-self: center;
        justify-content: center;
    }
}

.black-text {
    color: black;
}

.commanders-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.commanders-controls > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.commanders-controls > * > * {
    align-self: flex-start;
    margin: 0;
}

.commanders-section-values {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .commanders-section-values {
        display: none;
    }
}
