.commander-form {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: center;
}

.commander-form > * {
    width: 100%;
    height: 30px;
}

.commander-form > button {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
}

.commanders-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.black-text {
    color: black;
}

.sliding-window-pick {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.commander-winrate-graph {
    flex-grow: 1;
    justify-items: center;
    align-items: start;
}

.commander-winrate-graph > h3 {
    margin: 0;
}

.commander-winrate-graph > p {
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
}

.commanders-section-values {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sortable-header:hover {
    cursor: pointer;
}

.inactive-sort {
    opacity: 0.2;
}

.sort-icon {
    font-size: 1.1rem;
}

.sortable-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-self: center;
    padding-left: 15px;
    padding-right: 5px;
    gap: 3px;
}
