.value-display {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    overflow: clip;
    box-shadow: 3px 3px 5px #1a1a1a;
}

.value-display-values-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: auto;
}

.value-display-title, .value-display-value {
    font-size: 1.3rem;
    padding: 10px;
    height: fit-content;
    margin: 0;
    text-align: center;
}

.value-display-title {
    background: #051545;
}