.winrate-graph {
    height: fit-content;
    max-width: 100%;
    align-items: flex-start;
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .graph-container {
        width: 100%;
        align-self: flex-start;
    }
}

.winrate-graph > h3 {
    margin: 0;
}

.winrate-graph > p {
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
}