.home-page {
}

.home-page-values-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    align-items: start;
    justify-content: center;
    margin: 50px;
    gap: 50px;
}

.value-display-value {
    flex-grow: 1;
    background: #1f1f1f;
}

.value-display-value:last-child {
    background: #1a1a1a;
}
