nav {
    grid-area: nav;
    background: #051545;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.navbar-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #e2e2e2;
    font-size: 1.2em;
}

.navbar-section:hover {
    opacity: 80%;
    cursor: pointer;
}

.navbar-icon {
    margin-right: 10px;
    margin-left: 5px;
}